<h1>
    Privacy Policy
</h1>
<div>
    <p>
        We collect your information only with your consent; we only collect the minimum amount of personal information that is necessary to fulfill 
    the purpose of your interaction with us; we don't sell it to third parties; and we only use it as this Privacy Statement describes.
    </p>
    <p>
        Your email and password are only used for authentification purposes. Your first and last name are not distributed to anyone and serve
        only to enhance the personal experience with our website.
    </p>
</div>
<h1>
    DCMA Takedown Policy
</h1>
<div>
    <h3>
        Step 1 : Copyright Owner Investigates.
    </h3>
    <p>
        A copyright owner should always conduct an initial investigation to confirm both 
        (a) that they own the copyright to an original work and (b) that the content on Reach For The Stars is unauthorized and infringing.
    </p>
    <h3>
        Step 2 : Copyright Owner Sends A Notice
    </h3>
    <p>
        After conducting an investigation, a copyright owner prepares and sends a takedown notice to Reach For The Stars. Assuming the takedown 
        notice is sufficiently detailed, we will pass the notice along to the affected user via email.
    </p>
    <h3>
        Step 3 : Asks User to Make Changes
    </h3>
    <p>
        We will contact the user who created the collection and give them approximately 24 hours to delete or modify the content specified in the 
        notice. We'll notify the copyright owner if and when we give the user a chance to make changes.
    </p>
</div>