<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default">
    <a class="navbar-brand" href="#">Reach for the Stars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"[routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"[routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/privacy']">Privacy</a>
          </li>
        </ul>
        <ul class= "nav navbar-nav navbar-right">
          <li *ngIf="dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li *ngIf="dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li *ngIf="dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/search']">Search</a>
          </li>
          <li *ngIf="!dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/login']">Sign In</a>
          </li>
          <li *ngIf="!dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
          </li>
          <li *ngIf="dataService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
    </div>
</nav>