<ul>
    <h1>
        About
    </h1>
    <div>
        Reach for the stars by creating and rating collections of images pulled from Nasa! Once you sign up,
        you will have unlimited power to create your own image collections and show them to the world. You will also be
        able to rate pre-existing image collections, browse images and view the beauty of our galaxy. Best of all, it's
        free! Sign up today!
    </div>
    <br>
    <h1> Public collections </h1>
    <ul>
        <li *ngFor = "let photo of photos">
            {{photo}] 
        </li>
    </ul>
    <!--<img [src]="photo"/>-->
</ul>
